@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 10, 61, 51;
  --background-start-rgb: 244, 243, 240;
  --background-end-rgb: 244, 243, 240;
  --element-bg-color: rgb(10, 61, 51);
  --element-color-color: rgb(244, 243, 240);
  --button-bg-color: rgb(10, 61, 51);
  --button-color-color: rgb(244, 243, 240);
  --button-hover-bg-color: rgb(244, 243, 240);
  --button-hover-color-color: rgb(10, 61, 51);
  --contact-bg-color: rgb(244, 243, 240);
}

body {
  padding: 40px 250px;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

body.dark {
  --foreground-rgb: 244, 243, 240;
  --background-start-rgb: 10, 61, 51;
  --background-end-rgb: 10, 61, 51;
  --element-bg-color: rgb(244, 243, 240);
  --element-color-color: rgb(10, 61, 51);
  --button-bg-color: rgb(244, 243, 240);
  --button-color-color: rgb(10, 61, 51);
  --button-hover-bg-color: rgb(10, 61, 51);
  --button-hover-color-color: rgb(244, 243, 240);
  --contact-bg-color: rgb(244, 243, 240);
}

html {
  scroll-behavior: smooth;
}

.element {
  background-color: var(--element-bg-color);
  color: var(--element-color-color);
}

.contact {
  background-color: var(--contact-bg-color);
}

.button {
  background-color: var(--button-bg-color);
  color: var(--button-color-color);
  transition:
    background-color 0.3s,
    color 0.3s;
}

.button:hover {
  background-color: var(--button-hover-bg-color);
  color: var(--button-hover-color-color);
}

@media (max-width: 1100px) {
  body {
    padding: 20px 100px;
  }
}

@media (max-width: 800px) {
  body {
    padding: 20px 50px;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
